# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl
*.log
*.tmp

# Virtual environments
venv/
.env/
.venv/
.thkhvenv/

# -----------------------------
# PyInstaller
# -----------------------------
# Ignore build output
build/
build/
dist/

# UN-IGNORE ROOT FOLDERS FIRST
!build/
!dist/

# Now un-ignore installer staging folders
!build/linux/
!build/linux/debian/
!build/linux/debian/DEBIAN/
!build/linux/debian/DEBIAN/.keep
!build/linux/debian/usr/
!build/linux/debian/usr/local/
!build/linux/debian/usr/local/bin/
!build/linux/debian/usr/local/bin/.keep
!build/linux/debian/usr/share/
!build/linux/debian/usr/share/applications/
!build/linux/debian/usr/share/applications/.keep

!build/macos/
!build/macos/ThKiosk.app/
!build/macos/ThKiosk.app/.keep

!build/windows/
!build/windows/dist/
!build/windows/dist/.keep

# -----------------------------
# OS-specific junk files
# -----------------------------

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

# Linux
*~
.cache/
.Trash-*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# -----------------------------
# IDE / Editor files
# -----------------------------
.vscode/
.idea/
*.swp
*.swo

# -----------------------------
# Logs
# -----------------------------
thkiosk-helper.log
*.log

# -----------------------------
# Packaging outputs
# -----------------------------
dist/linux/*.deb
dist/macos/*.dmg
dist/windows/*.exe
